<!-- Describe task in general -->

<p>
    该函数应将不带标点符号的字符串作为输入，并返回字符串中最长的单词。如果有多个单词长度相同，则返回第一个出现的单词。  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}longest-word.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：字符串</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出： 字符串</strong>字符串 <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>如何使用</strong>
    <ul>
        <li><i>在自然语言处理任务中，如文本分析；</i></li>
        <li><i>在搜索算法中，查找文本中的关键词或标签。</i></li>
    </ul>
    
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件：</strong>
    <ul>
    <li><i>句子 ∈ string；</i></li>
    <li><i>length(sentence) &gt;= 0.</i></li>
    </ul>
</p>
