<!-- Describe task in general -->

<p>
    Cette fonction doit prendre en entrée une chaîne de caractères sans signes de ponctuation et renvoyer le mot le plus long de la chaîne. S'il y a plusieurs mots de même longueur, elle renvoie le premier qui apparaît.  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}longest-word.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Chaîne <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Comment il est utilisé:</strong>
    <ul>
        <li><i>dans les tâches de traitement du langage naturel, comme l'analyse de texte;</i></li>
        <li><i>dans les algorithmes de recherche, pour trouver des mots clés ou des balises dans un texte.</i></li>
    </ul>
    
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Conditions préalables:</strong>
    <ul>
    <li><i>phrase ∈ chaîne;</i></li>
    <li><i>length(sentence) &gt;= 0.</i></li>
    </ul>
</p>
