<!-- Describe task in general -->

<p>
    Ta funkcja powinna przyjmować jako dane wejściowe ciąg znaków bez znaków interpunkcyjnych i zwracać najdłuższe słowo w ciągu. Jeśli istnieje wiele słów o tej samej długości, zwracane jest pierwsze z nich.  
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}longest-word.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> String <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Jak jest używany:</strong>
    <ul>
        <li><i>w zadaniach przetwarzania języka naturalnego, takich jak analiza tekstu;</i></li>
        <li><i>w algorytmach wyszukiwania, aby znaleźć słowa kluczowe lub tagi w tekście.</i></li>
    </ul>
    
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunki wstępne:</strong>
    <ul>
    <li><i>sentence ∈ string;</i></li>
    <li><i>length(sentence) &gt;= 0.</i></li>
    </ul>
</p>
